<div class="row-wrap">
  <div class="row-fluid">
    <div class="span8 mpo-area">
      <h3>¿Qué tal este contenido?</h3>
      <div class="mpo-module" data-padding-top="10">
        <div class="mpo-type-basic mpo-tb-nomedia">
          <div class="mpo-desc-grp" mode="preview">
            <div class="mpo-desc">
              <p>Responde en nuestra encuesta web:</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mpo-module" data-padding-top="10">
        <div class="mpo-type-image mpo-media">
          <span class="loader"><a
              href="https://www.lg.com/es/support/web-survey-questionnaire"
              target="_parent"
            ><img
                alt="lg-encuesta-soporte-posventa"
                src="https://www.lg.com/es/posventa/img/lg-encuesta-soporte-posventa.png"
              /></a></span>
        </div>
      </div>
    </div>
    <div class="span4 mpo-area">
      <h3>También puede interesarte:</h3>
      <div class="mpo-module" data-padding-top="10">
        <div class="mpo-type-basic mpo-tb-nomedia">
          <div class="mpo-desc-grp" mode="preview">
            <div class="mpo-desc">
              <ul>
                <li><a
                    href="http://www.lg.com/es/posventa/microsites/index-guias-faq"
                    target="_blank"
                  >Índice de Guías y Soluciones</a></li>
                <li><a href="error-le-le1-e6" target="_blank">Errores LE-LE1-E6</a></li>
                <li><a href="error-ie" target="_blank">Error IE</a></li>
                <li><a href="error-oe" target="_blank">Error OE</a></li>
                <li><a
                    href="ruido-zumbido-lavadora-golpes"
                    target="_blank"
                  >Ruidos o zumbidos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-wrap">
  <div class="row-fluid">
    <div class="span12 mpo-area">
      <div class="mpo-module" data-padding-top="10">
        <iframe
          allowfullscreen=""
          frameborder="0"
          height="125"
          src="https://www.lg.com/es/posventa/redirects/es-microsite-iframe-footer"
          width="100%"
        ></iframe>
      </div>
    </div>
  </div>
</div>