<%-- /** ******************************************************************************* * FILE:
	/WEB-INF/jsp/support/micro.jsp * Desc : Sample * * PROJ : LG.com 5.0
	******************************************************************************* * Modification History
	******************************************************************************* * CSR No. DATE AUTHOR DESCRIPTION
	******************************************************************************* * 2019/xx/xx xxxxxxxx Initial
	Release ******************************************************************************* **/ --%>

	<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
		<%@ include file="/WEB-INF/jsp/gpCommon/includes/doctype.jsp" %>
			<%@ include file="/WEB-INF/jsp/gpCommon/includes/pageTop.jsp" %>

				<head>
					<!-- Global site tag (gtag.js) - Google Analytics -->
					<script async src="https://www.googletagmanager.com/gtag/js?id=G-N61FFWE578"></script>
					<script>
						window.dataLayer = window.dataLayer || [];
						function gtag() { dataLayer.push(arguments); }
						gtag('js', new Date());

						gtag('config', 'G-N61FFWE578');
					</script>

					<!-- Google Tag Manager -->
					<script>(function (w, d, s, l, i) {
							w[l] = w[l] || []; w[l].push({
								'gtm.start':
									new Date().getTime(), event: 'gtm.js'
							}); var f = d.getElementsByTagName(s)[0],
								j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
									'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
						})(window, document, 'script', 'dataLayer', 'GTM-W99SRK5');</script>
					<!-- End Google Tag Manager -->

					<script src="/es/posventa/js/google-tag-manager.js" defer></script>
					<script src="/es/posventa/js/customjs.js" defer></script>

					<!-- default code -->
					<c:set var="headerTitle">
						<global:message mode="hidden" code="home-seo-metatag-title" text="home-seo-metatag-title" />
					</c:set>
					<c:set var="headerKeywords">
						<global:message mode="hidden" code="home-seo-metatag-keywords"
							text="home-seo-metatag-keywords" />
					</c:set>
					<c:set var="headerDescription">
						<global:message mode="hidden" code="home-seo-metatag-description"
							text="home-seo-metatag-description" />
					</c:set>
					<c:import url="/WEB-INF/jsp/gpCommon/includes/headerDefault.jsp" charEncoding="utf-8">
						<c:param name="title" value="${headerTitle}" />
						<c:param name="keywords" value="${headerKeywords}" />
						<c:param name="description" value="${headerDescription}" />
						<c:param name="robots" value="${headerRobots}" />
						<c:param name="canonical" value="${headerCanonical}" />
						<c:param name="ogImage" value="${ogImage}" />
					</c:import>
					<!-- // default code -->

					<!-- css -->
					<link href="/lg5-common-gp/css/support-default.min.css" type="text/css" rel="stylesheet">
					<link href="/lg5-common-gp/css/support-home.min.css" type="text/css" rel="stylesheet">
					<link href="/lg5-common-gp/css/support-solutions.min.css" type="text/css" rel="stylesheet">


					<link href="/es/posventa/css/custom_css.css" type="text/css" rel="stylesheet">
					<!-- //css -->

					<jsp:include page="/WEB-INF/jsp/gpCommon/includes/headerScript.jsp" />

				</head>

				<body>
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W99SRK5" height="0" width="0"
							style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->

					<noscript src="/es/poventa/js/google-tag-manager-nscript.js" defer></noscript>

					<c:import url="/WEB-INF/jsp/gpCommon/includes/bodyTop.jsp" charEncoding="utf-8">
						<c:param name="title" value="${headerTitle}" />
						<c:param name="keywords" value="${headerKeywords}" />
						<c:param name="description" value="${headerDescription}" />
						<c:param name="canonical" value="${headerCanonical}" />
						<c:param name="image" value="${ogImage}" />
					</c:import>
					<!-- b2c or b2b -->
					<!-- component (navigation) Mobile = ${isMobile} -->
					<jsp:include page="/${localeCd}/support/retrieveGnbHtml">
						<jsp:param name="isMobile" value="${isMobile}" />
						<jsp:param name="bizType" value="${bizType}" />
						<jsp:param name="siteType" value="CST" />
					</jsp:include>
					<!--
	breadcrumb : compare, search result 페이지에서는 사용하지 않습니다.  
-->
					<jsp:include page="/${localeCd}/commonmodule/breadcrumb">
						<jsp:param name="bizType" value="B2C" />
					</jsp:include>
					<!-- // breadcrumb -->
					<!-- // component (navigation) -->
					</div>
					</div>
					</div>
					</div>
					<div class="container-fluid">
						<!-- none-component contents -->
						<div class="support-wrap">
							<!-- Contents Area Start -->
							<div class="wrapper">
								<!-- fluid container start  -->
								<div class="fluid container" id="content">
									<div class="row mpo-header">
										<div class="span12">
											<div class="mpo-header-h1">
												<h1>MC Recuperacion Emergencia</h1>
											</div>
											<div class="share" id="shareClick" style="margin-right:10px;">
												<!-- LGEES-2638 START-->
												<!-- LGEES-2638 END-->
												<!-- LGEES-2535 -->
												<div class="shareload"
													data-url="/es/lgcompf4/support/share/snsList.lg?systemFlag=CS&amp;longUrl=http://www.lg.com/es/posventa/microsites/movil/recuperacion-de-emergencia&amp;imageUrl=http://www.lg.com/es/mp-common/images/common/lg-logo-fb.png&amp;micrositeFlag=Y">
												</div>
												<!-- LGEES-2535 END -->
											</div>
										</div>
									</div>
									<!--  Page contents Start -->
									<div class="container">
										{{> partials/body}}

								{{> partials/footer}}
										</div>
									<!--  Page contents End -->
									<!-- fluid container end -->
								</div>
								<script type="text/javascript">
									var digitalData = {};
								</script>
								<script type="text/javascript">_satellite.pageBottom();</script>
								<script type="text/javascript">brightcove.createExperiences();</script>
							</div>


							<!-- // Contents Area End -->
						</div>
						<!-- right floating bar -->
						<jsp:include page="/${localeCd}/support/commonmodule/floatingBar" />
						<!-- // right floating bar -->


						<!-- // none-component contents -->
					</div>
					<div class="container-fluid iw_section">
						<div class="row iw_row iw_stretch">
							<div class="iw_columns col-lg-12">
								<div class="iw_component">
									<!-- component (footer) -->
									<!-- copy contents : Product Disclaimer -->

									<c:set var="seoText">
										<global:message mode="incontext" code="home-footer-seo"
											text="home-footer-seo" />
									</c:set>
									<c:set var="disclaimerText">
										<global:message mode="incontext" code="home-footer-disclaimer" text="" />
									</c:set>
									<c:import url="/WEB-INF/jsp/gpCommon/includes/footerSeo.jsp" charEncoding="utf-8">
										<c:param name="seo" value="${seoText}" />
										<c:param name="disclaimer" value="${disclaimerText}" />
									</c:import>
									<!--// copy contents -->

									<!-- footer main contents -->
									<jsp:include page="/${localeCd}/support/retrieveFooterHtml">
										<jsp:param name="bizType" value="B2C" />
										<jsp:param name="siteType" value="CST" />
									</jsp:include>
									<!--// footer main contents -->

									<!-- // component (footer) -->
								</div>
							</div>
						</div>
					</div>
					</div>
					<!-- default code -->
					<c:import url="/WEB-INF/jsp/gpCommon/includes/footerLocalScript.jsp" charEncoding="utf-8">
						<c:param name="csPageL1" value="${csPageL1}" />
						<c:param name="csPageL2" value="${csPageL2}" />
						<c:param name="csPageL3" value="${csPageL3}" />
						<c:param name="countryCd" value="${countryCd}" />
						<c:param name="languageCd" value="${languageCd}" />
						<c:param name="helpLibraryTitle" value="" />
						<c:param name="videoTutorialTitle" value="" />
						<c:param name="productSuperCategory" value="" />
						<c:param name="productCategory" value="" />
						<c:param name="productId" value="" />
						<c:param name="csProductName" value="" />
						<c:param name="pageEvent" value="" />
						<c:param name="pageDetailName" value="" />
						<c:param name="localeCode" value="${localeCode}" />
					</c:import>
					<c:import url="/WEB-INF/jsp/gpCommon/includes/footerDefault.jsp" charEncoding="utf-8" />
					<!-- // default code -->

					<script src="/lg5-common-gp/js/common-support.min.js" defer></script>
					<script src="/lg5-common-gp/library/chosen.min.js"></script>
					<script src="/lg5-common-gp/library/mCustomScrollbar.min.js" defer></script>
					<script src="/lg5-common-gp/library/modal.min.js" defer></script>
					<script src="/lg5-common-gp/js/support/right-floating-bar.min.js" defer></script>
					<script src="/lg5-common-gp/js/support/find-my-model.min.js" defer></script>
					<script src="/lg5-common-gp/js/support/notices-list.min.js" defer></script>
					<script src="/lg5-common-gp/js/support/solutions-contents.min.js" defer></script>
					<script src="/lg5-common-gp/js/support/select-product-category-gp.min.js" defer></script>
					<script src="/lg5-common-gp/js/support/select-your-registered-products.min.js" defer></script>

				</body>

				</html>